<link rel="stylesheet" href="../../static/css/reset-css.css" th:href="@{/css/reset-css.css}">
<link rel="stylesheet" href="../../static/css/fragments/footer.css" th:href="@{/css/fragments/footer.css}">

<footer class="grid-footer">
  
  <section class="info">
    <section class="branding">
      <span class="copi-logo"></span>
      <span class="copi">CoPi</span>
    </section>
    
    <address class="corp">&copy;CoPi lkdcode. All rights reserved</address>
  </section>
  
  <section class="footer-links">
    <ul>
      <li class="terms">이용약관</li>
      <li class="privacy-policy">개인정보처리방침</li>
      <li class="about-service">서비스소개</li>
    </ul>
  </section>
  
</footer>